# Zoa - Proyecto Monorepo

# Python / Backend
backend/venv/
backend/env/
backend/__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
backend/.env

# Node.js / Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editores de código
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln
